<!-- See Hartl Listing 3.28 -->
<% provide(:title, 'About Us') %>
<h1>RideShare App</h1>
<p>
	This app was built for the USMA CS450 course as a final project. The purpose of this application is to allow cadets
	to share rides with one another to get to mutual destinations. This site is for cadets who wish to be drivers and those
	who wish to find rides.
</p>
