<!-- See Hartl Listing 5.2 -->
<% provide(:title, 'Home') %>

<div class="center hero-unit"> 
  <h1>RideShare App</h1> 

  <h2> 
    This is the home page for the RideShare app. 
  </h2> 
 <div>
	<p>This application is for ride sharing between West Point Cadets Only. A USMA.edu email address is required to have access to the site.</p>
 </div>
  	
  <%= link_to "Sign up now!", 'signup', class: "btn btn-large btn-primary" %> 
</div> 
